# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings/

/.metadata/
/RemoteSystemsTempFiles/
bin/
*.properties
*.ini
*.xml
*.ser
*.setup
*.dat
*.txt
*.xmi
*.resources
faculdade/.metadata/.lock

.classpath
.project
.settings/
faculdade/.metadata/.plugins/org.eclipse.ui.intro/introstate
faculdade/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
faculdade/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
